.new-btn {
    /* background-color: #5eab87; */
    /* border: 2px solid black; */
    outline: 1px solid #5eab87;
    color: white;
    border: none;
    background: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
}

.new-btn:hover {
    background-color: #5eab87;
    transition: all .4s ease-in-out;
}

.card-btn {
    background-color: #5eab87;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.card-btn:hover {
    background-color: #339668;
}

.font-bar {
    font-size: 12px;
    margin-left: 3px;
}